# Nice
first jupyter notebook shit

In [64]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import itertools

In [65]:
#reading data from csv file
csv = pd.read_csv('/home/arash/dev/python-workspace/#1/sources/insurance.csv')

In [66]:
# Extract columns
ages = csv['age'].tolist()
sexes = csv['sex'].tolist()
bmis = csv['bmi'].tolist()
children = csv['children'].tolist()
smoker = csv['smoker'].tolist()
regions = csv['region'].tolist()
charges = csv['charges'].tolist()

numerical_columns = ['age', 'bmi', 'children', 'charges']
nominal_cloumns = ['sex', 'smoker', 'region']

In [67]:
print("Here are the first 10 rows of our data:")
print(csv.head(10))

Here are the first 10 rows of our data:
   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
5   31  female  25.740         0     no  southeast   3756.62160
6   46  female  33.440         1     no  southeast   8240.58960
7   37  female  27.740         3     no  northwest   7281.50560
8   37    male  29.830         2     no  northeast   6406.41070
9   60  female  25.840         0     no  northwest  28923.13692

In [68]:
print("\nA summary of our numerical data:")
print(csv.describe())

A summary of our numerical data:
               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010